[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ipykernel = "*"
requests = "*"
furo = "*"
connexion = {version = "==2.14.1", extras = ["swagger-ui"]}
python-dotenv = "*"
sphinxcontrib-httpdomain = "*"
sphinx = "*"
"sphinxcontrib.httpdomain" = "*"

[dev-packages]

[requires]
python_version = "3.9"
